* {
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    align-items: center;
}
button{
    width: 220px;
    height: 220px;
    margin-left: 150px;
    font-size: 30px;
}
img{
    max-width: 25%;
    max-height: 25%;
    margin-top: 20px;   
    margin-left: 50px ;
   }
div{
    margin-left: 300px;
}

#iniciar{
    background: rgba(0, 247, 255, 0.774); 
    cursor: pointer;
}
#retorno{
    background-color: rgba(255, 187, 0, 0.795); cursor: pointer;
    padding-top: 25px;
}
div p {
    margin-top: 150px;
    text-align: center;
    margin-right: 10%;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    color: blueviolet;
}
#narrativa{
    margin-top: 150px;
    text-align: center;
    width: fit-content;
    margin-left: 10%;
}
#textoNarrativa{
    width: 84%;
}
