* {
    margin: 0;
    padding: 0;

}
body{
    background-image: url(../imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-height: 40%;
    height: auto;
}
 img{
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
}