* {
    margin: 0;
    padding: 0;

}
body{
    background-image: url(../imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    max-height: 40%;
    height: auto;
}
img{
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
}
#titulo , #principe , #header p{
    margin-bottom: 50px;
}
#titulo{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-top: 10px;
    color: red;
    border: solid 8px;
    border-color:darkcyan ;
    border-radius: 15px;
    padding: 10px;
}
#principe{
    border: solid;
    border-radius: 20px;
    max-height: 300px;
    max-width: 300px;
    height: auto;
    width: auto;
    background-color: rgba(216, 201, 176, 0.925);
}
#header p{
    font-size: 32px;
    border: solid;
    background-color: aqua;
    border-radius: 10px;
    color: saddlebrown;
    border-color: black;
    padding: 5px ;
}
.princesas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
section div{
    width: fit-content;
    height: fit-content;
    border: solid;
    border-radius: 40px;
    border-color: rgba(23, 93, 223, 0.993);
    opacity: 0.9;
    background-color: #fff99999;
}
.princesa{
    height: 496px !important;
    width: fit-content;
}
.princesa p {
display:none;

}
#descricao1, #descricao3{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 21%;
    font-size: 30px;
    color: rgb(165, 14, 14);
    font-weight: bold;
}
#descricao2{
    text-align: center;
    width: 82%;
    margin-left: 10%;
    margin-top: 4%;
    font-size: 30px;
    color: rgb(165, 14, 14);
    font-weight: bold;



}
